
/*==2 секция==*/
.description {
  display: flex;
  padding-top: 100px;
  margin: 0;
  align-content: center;
  justify-content: center;
}

/*1 элемент*/
.two-columns {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 80%;
}

/*2 элемент*/
.two-columns__brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

/*3 элемент*/
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

/*4-6 элемент*/
.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  box-sizing: content-box;
  padding-top: 30px;
  margin: 0;
}

.two-columns__paragraph:first-child {
  padding: 0px;
}

/*7 элемент*/
.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

/*==3 секция==*/
.digits {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0;
}

/*1 элемент*/
.section-title {
  width: 60%;
  font-size: 60px;
  text-align: center;
  line-height: 1.15;
  font-weight: bold;
  margin: 0 0 20px;
}

/*2 элемент*/
.section-subtitle {
  width: 60%;
  font-size: 24px;
  text-align: center;
  line-height: 34px;
  font-weight: normal;
  margin: 0;
}

/*3 элемент*/
.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 1100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
  margin: 0;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 20px 0 0;
}

/*==4 секция==*/
.feynman {
  display: flex;
  min-height: 890px;
  position: relative;
  background-color: #f2f2f2;
  z-index: auto;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}

/*1 элемент*/
.feynman__title {
  width: 648px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  padding-top: 100px;
  margin: 0;
}

/*2 элемент*/
.feynman__subtitle {
  margin-top: 70px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  z-index: 2;
}

/*3 элемент*/
.feynman__image {
  height: 637px;
  width: 867px;
  object-fit: cover;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

/*4 элемент*/
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-decoration: none;
  z-index: 1;
  color: #2f80ed;
}

.feynman__link:hover {
  opacity: 0.5;
}


/*==5 секция==*/
.kaufman {
  display: flex;
  position: relative;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  margin: 0;
  z-index: auto;
}

/*1 элемент*/
.section-title_theme_dark {
  color: white;
  z-index: 1;
}

/*2 элемент*/
.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}

/*3 элемент*/
.table_theme_dark {
  color: white;
  z-index: 1;
}

/*4 элемент*/
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0 0 0;
  z-index: 1;
}

/*5 элемент*/
.kaufman__triangle {
  height: 877px;
  width: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  background-size: cover;
  z-index: auto;
  background-image: url(../images/triangle.svg);
}

/*==6 секция==*/
.footer {
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  margin: 0;
}

/*1 элемент*/
.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px;
}

/*N элемент*/
.footer__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

/*2 элемент*/
.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

/*2.1 элемент*/
/* .logo_place_footer {
  margin: 0;
} */

/*2.2 элемент*/
.footer__author {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 18px 0;
}

/*3 элемент*/
.footer__column_content_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  margin: 0;
}

/*3.1/4.1 элемент*/
.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;

}

/*3.2/4.2 элемент*/
.footer__column-links {
  margin-top: 20px;
  margin-bottom: 16px;
  list-style: none;
  padding: 0;
}

/*3.3/4.2 элемент*/
.footer__column-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.footer__column-link:hover{
  opacity: 0.5;
}

/*4 элемент*/
.footer__column_content_social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}


/*4.4 элемент*/
.footer__list-item {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

/*4.5 элемент*/
.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

