div, header, .description, section {
  border: 1px solid red;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*==1 секция==*/
.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  z-index: -1;
}

/*1 элемент*/
.header__logo {
  color: #10191e;
}

.header__logo_place_header {
  margin: 30px 64px;
  position: absolute;
}

/*2 элемент*/
.header__title {
  align-self: center;
  width: 730px;
  margin: auto 64px auto;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600px;
  z-index: auto;
}

/*3 элемент*/
.header__subtitle {
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 0 64px 30px;
  position: absolute;
  align-self: flex-end;
  z-index: auto;
}

/*4 элемент*/
.header_link {
  text-decoration: none;
  color: #2f80ed;
}
.header_link:hover {
  opacity: 0.5;
}


/*5 элемент*/
.header_main-illustration {
  height: 608px;
  width: 765px;
  object-fit: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/*6 элемент*/
.header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -1;
}

/*==2 секция==*/
.description {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  align-content: center;
  justify-content: center;
}

/*1 элемент*/
.two-columns {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 80%;
}

/*2 элемент*/
.two-columns__brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0;
  color: #2f80ed;
}

/*3 элемент*/
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  list-style: none;
  margin: 0;

}

/*4-6 элемент*/
.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  box-sizing: content-box;
  padding-top: 30px;

}
.two-columns__paragraph:first-child {
  padding: 0px;
}

/*7 элемент*/
.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

/*==3 секция==*/
.digits {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

/*1 элемент*/
.section-title {
  width: 60%;
  font-size: 60px;
  text-align: center;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 20px;
  margin: 0;
}

/*2 элемент*/
.section-subtitle {
  width: 60%;
  font-size: 24px;
  text-align: center;
  line-height: 34px;
  font-weight: normal;
  margin-top: 20px;
  margin: 0;
}

/*3 элемент*/
.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 1100px;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
  margin: 0;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 20px 0 0;
}


/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
